store.ts
trpcRouter.ts
data.ts
data.zod.ts
@data
@districtTitle
@officeTitle/
@recurring/
@schemata/
@termYears/
@d6.ts
@index.ts
@keyring.ts
@officeCode.ts
@county.ts
@dv.ts
@ix.ts
dataTypes.ts
@seatCode.ts
@sub.ts
@data
@included
!@data/.scripts
!@included/.scripts